# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Git_project\word2vec简易pytorch实现\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
